# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  build:
    strategy:
      matrix:
        node-version: [12.x, 14.x]
        os: [ubuntu-latest]

    # run pre-flight tests on ubuntu, instead of full OS support matrix, to reduce costs
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ runner.os }}-${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-${{ runner.os }}-${{ matrix.node-version }}-
      - name: Install Packages
        run: npm ci
      - name: Run Tests
        run: npm test
